<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html" />
    <title>ScrapCalender</title>
</head>

<body>
    <h1>
     ScrapCalender
    </h1>

    <p>
        <form action="#" th:action="@{/check_url}" method="GET">
        URL入力欄
        <input type="text" name="geturl"><button type="submit">Scraping</button>
        </form>
    </p>

    <table>
        <tr>
            <th>URL</th>
            <th>LINK</th>
        </tr>
        <tr th:each="obj:${urllist}">
            <td th:text="${obj[0]}"></td>
            <td th:text="${obj[1]}"></td>
        </tr>
    </table>

</body>

</html>