<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html" />
    <title>ScrapeCalender</title>
</head>
    <p>
        <a href="./">Homeに戻る</a>
    </p>

    <h1>View</h1>

    <p>
    <form action="#" th:action="@{/view/download}" method="GET">
        <input type="hidden" name="view_link" th:value="${view_link}">
        <button  type="submit">CSVをダウンロード</button>
    </form>
    <table rules="all" frame="border">
        <tr>
            <th>日付</th>
            <th>データ</th>
        </tr>
        <tr th:each="obj:${data_list}">
            <td th:text="${obj[0]}"></td>
            <td th:text="${obj[1]}"></td>
        </tr>
    </table>
    </p>

</body>

</html>